<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Angular-dropbox-box-picker by geojacobm6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body ng-app="DropboxControllers" ng-controller="DropBoxCtrl">
    <div>
        <div class="col-sm-4">
            <img src="images/box-dropbox1.jpg" class="img-responsive">
        </div>
        <hr/>
        <div class="col-sm-8">
            <div class="col-sm-4 center-block">
                <p><a class="btn btn-primary btn-block" href="javascript:;" drop-box-picker dbpicker-files="dpfiles">Dropbox Picker</a></p>
            </div>
            <div class="col-sm-4 center-block">
                <p><a class="btn btn-primary btn-block" href="javascript:;" box-picker boxpicker-files="boxfiles">Box Picker</a></p>
            </div>
            <div class="col-sm-4 center-block">
                <p><a class="btn btn-primary btn-block">Fork me</a></p>
            </div>
        </div>
        <div class="container col-sm-12">
            <div class="row show-grid" ng-switch="dpfiles.length > 0 || boxfiles.length > 0">
                <div ng-switch-when="true">
                    <div class="col-sm-4" ng-repeat="file in dpfiles">
                        <a href="{{ file.link }}" target="_blank"><img src="images/file1.png" class="img-responsive img-thumbnail"> {{ file.name }}</a>
                        <button type="button" class="close" ng-click="remove($index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                    <div class="col-sm-4" ng-repeat="file in boxfiles">
                        <a href="{{ file.url }}" target="_blank"><img src="images/file1.png" class="img-responsive img-thumbnail"> {{ file.name }}</a>
                        <button type="button" class="close" ng-click="removeboxfiles($index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://app.box.com/js/static/select.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="opsuezjazxy8x2q"></script>
    <script src="app.js"></script>
    <script src="dropbox-picker.min.js"></script>

  </body>
</html>
